{{- if include "gpg.shouldGenerateKeys" . }}
{{- $gpg_repo_base := "" -}}
{{- $kubectl_repo_base := "" -}}
{{- if ((include "testValuesPath" (list .Values "global" "image" "repo" "base")) | eq "true") -}}
  {{- $gpg_repo_base = .Values.global.image.repo.base | default (index .Values "gpg").image.gpg.repo.base -}}
  {{- $kubectl_repo_base = .Values.global.image.repo.base | default (index .Values "gpg").image.kubectl.repo.base -}}
{{- else -}}
  {{- $gpg_repo_base = (index .Values "gpg").image.gpg.repo.base -}}
  {{- $kubectl_repo_base = (index .Values "gpg").image.kubectl.repo.base -}}
{{- end -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: retagentmgr-gpg-initialization
  labels:
    ram-base-job: "true"
    {{- with (index .Values "gpg").labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    argocd.argoproj.io/sync-options: Skip
spec:
  template:
    metadata:
      {{- with (index .Values "gpg").podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
      {{- include "gpg.labels" . | nindent 8 }}
      {{- with (index .Values "gpg").podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- $globalImagePullSecrets := list -}}
      {{- if ((include "testValuesPath" (list .Values "global" "imagePullSecrets")) | eq "true") -}}
      {{- $globalImagePullSecrets = .Values.global.imagePullSecrets | default (list) -}}
      {{- end -}}
      {{- with uniq (concat ((index .Values "gpg").imagePullSecrets | default (list)) $globalImagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gpg.serviceAccountName" . }}
      securityContext:
        {{- toYaml (index .Values "gpg").podSecurityContext | nindent 8 }}
      initContainers:
        - name: check-secrets
          command:
            - "/bin/sh"
            - "-c"
            - "sh /scripts/check_secrets_exist.sh"
          image: "{{ $kubectl_repo_base }}/{{ (index .Values "gpg").image.kubectl.repo.path }}:{{ (index .Values "gpg").image.kubectl.tag }}"
          imagePullPolicy: {{ (index .Values "gpg").image.kubectl.pullPolicy }}
          securityContext:
            {{- toYaml (index .Values "gpg").securityContext | nindent 12 }}
          resources:
            {{- toYaml (index .Values "gpg").resources | nindent 12 }}
          volumeMounts:
            - name: configmap-scripts
              mountPath: /scripts
            - name: shared-state
              mountPath: /shared
      containers:
        - name: gpg-creation
          command:
            - "/bin/sh"
            - "-c"
            - "sh /scripts/generate_gpg_keys.sh"
          image: "{{ $gpg_repo_base }}/{{ (index .Values "gpg").image.gpg.repo.path }}:{{ (index .Values "gpg").image.gpg.tag }}"
          imagePullPolicy: {{ (index .Values "gpg").image.gpg.pullPolicy }}
          securityContext:
            {{- toYaml (index .Values "gpg").securityContext | nindent 12 }}
          resources:
            {{- toYaml (index .Values "gpg").resources | nindent 12 }}
          env:
            - name: KEY_NAME
              valueFrom:
                configMapKeyRef:
                  key: name
                  name: {{ include "gpg.fullname" . }}-gpg-settings
            - name: KEY_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: email
                  name: {{ include "gpg.fullname" . }}-gpg-settings
            - name: KEY_COMMENT
              valueFrom:
                configMapKeyRef:
                  key: comment
                  name: {{ include "gpg.fullname" . }}-gpg-settings
            - name: KEY_LENGTH
              valueFrom:
                configMapKeyRef:
                  key: length
                  name: {{ include "gpg.fullname" . }}-gpg-settings
            - name: KEY_EXPIRE
              valueFrom:
                configMapKeyRef:
                  key: expire
                  name: {{ include "gpg.fullname" . }}-gpg-settings
            - name: KEY_PASSPHRASE
              valueFrom:
                secretKeyRef:
                  key: passphrase
                  name: gpg-passphrase
          volumeMounts:
            - name: gpg-volume
              mountPath: /config/gpg
            - name: tmp-gpg-volume
              mountPath: /.gnupg
            - name: workdir
              mountPath: /workdir
            - name: configmap-scripts
              mountPath: /scripts
            - name: shared-state
              mountPath: /shared
        - name: apply-secrets
          command:
            - "/bin/sh"
            - "-c"
            - "sh /scripts/apply_secrets.sh"
          image: "{{ $kubectl_repo_base }}/{{ (index .Values "gpg").image.kubectl.repo.path }}:{{ (index .Values "gpg").image.kubectl.tag }}"
          imagePullPolicy: {{ (index .Values "gpg").image.kubectl.pullPolicy }}
          securityContext:
            {{- toYaml (index .Values "gpg").securityContext | nindent 12 }}
          resources:
            {{- toYaml (index .Values "gpg").resources | nindent 12 }}
          volumeMounts:
            - name: gpg-volume
              mountPath: /config/gpg
            - name: configmap-scripts
              mountPath: /scripts
            - name: shared-state
              mountPath: /shared
      restartPolicy: OnFailure
      {{- with (index .Values "gpg").nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index .Values "gpg").affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index .Values "gpg").tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: gpg-volume
          emptyDir:
            sizeLimit: 5Mi
        - name: tmp-gpg-volume
          emptyDir:
            sizeLimit: 5Mi
        - name: workdir
          emptyDir:
            sizeLimit: 128Mi
        - name: shared-state
          emptyDir:
            sizeLimit: 1Mi
        - name: configmap-scripts
          configMap:
            name: {{ include "gpg.fullname" . }}-scripts
            defaultMode: 0777
  backoffLimit: 1000
{{- end }}
