{{- $repo_base := "" -}}
{{- if and (hasKey .Values "global") (hasKey .Values.global "image") (hasKey .Values.global.image "repo") (hasKey .Values.global.image.repo "base") -}}
  {{- $repo_base = .Values.global.image.repo.base | default .Values.global.configuration.plugin.image.repo.base -}}
{{- else -}}
  {{- $repo_base = .Values.global.configuration.plugin.image.repo.base -}}
{{- end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: plugin-config
  labels:
    {{- include "sas-retrieval-agent-manager-api.labels" . | nindent 4 }}
data:
  plugin_runner_repo: {{ printf "%s/%s" $repo_base .Values.global.configuration.plugin.image.repo.path }}
  plugin_runner_tag: {{ .Values.global.configuration.plugin.image.tag | quote }}