{{- $dot := . -}}
{{- $globalEnabled := ((include "testValuesPath" (list .Values "global" "ingress" "enabled")) | eq "true") -}}
{{- $globalClassName := "" -}}
{{- if $globalEnabled -}}
{{- $globalClassName = .Values.global.ingress.className | default "" -}}
{{- end -}}
{{- $isRouteClassName := false -}}
{{- if $globalEnabled -}}
{{- if eq $globalClassName "route" -}}
{{- $isRouteClassName = true -}}
{{- end -}}
{{- else if ((include "testValuesPath" (list .Values "ingress" "enabled")) | eq "true") -}}
{{- if eq (.Values.ingress.className | default "") "route" -}}
{{- $isRouteClassName = true -}}
{{- end -}}
{{- end -}}
{{- if and (or ((include "testValuesPath" (list .Values "ingress" "enabled")) | eq "true") $globalEnabled) $isRouteClassName -}}
{{- $fullName := include "keycloak.fullname" . | lower -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.ingress.annotations }}
    {{- range $key, $value := .Values.ingress.annotations }}
    {{- if not (hasPrefix "nginx.ingress.kubernetes.io/" $key) }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
    # Route-specific annotation for rewrite functionality
    haproxy.router.openshift.io/rewrite-target: /
spec:
{{- if $globalEnabled }}
  host: {{ .Values.global.domain | quote }}
  path: {{ (index .Values.ingress.paths 0).path | default "/SASRetrievalAgentManager/auth" }}
{{- else }}
  {{- if .Values.ingress.hosts }}
  {{- $firstHost := index .Values.ingress.hosts 0 }}
  host: {{ $firstHost.host | quote }}
  {{- $firstPath := index $firstHost.paths 0 }}
  path: {{ $firstPath.path | default "/" }}
  {{- else }}
  host: "chart-example.local"
  path: "/SASRetrievalAgentManager/auth"
  {{- end }}
{{- end }}
  to:
    kind: Service
    name: {{ $fullName }}
    weight: 100
  port:
    targetPort: {{ $svcPort }}
  {{- $globalTlsEnabled := false -}}
  {{- if hasKey .Values "global" -}}
  {{- if hasKey .Values.global "ingress" -}}
  {{- if hasKey .Values.global.ingress "tls" -}}
  {{- if .Values.global.ingress.tls.enabled -}}
  {{- $globalTlsEnabled = true -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- $globalTlsSecretName := "" -}}
  {{- if $globalTlsEnabled -}}
  {{- if hasKey .Values.global.ingress.tls "secretName" -}}
  {{- $globalTlsSecretName = .Values.global.ingress.tls.secretName -}}
  {{- end -}}
  {{- end -}}
  {{- if or (and $globalEnabled $globalTlsEnabled) .Values.ingress.tls }}
  tls:
    termination: edge
    {{- if $globalEnabled }}
    {{- if $globalTlsSecretName }}
    key: {{ $globalTlsSecretName }}-key
    certificate: {{ $globalTlsSecretName }}-cert
    {{- end }}
    {{- else }}
    {{- if .Values.ingress.tls }}
    {{- $firstTls := index .Values.ingress.tls 0 }}
    {{- if $firstTls.secretName }}
    key: {{ $firstTls.secretName }}-key
    certificate: {{ $firstTls.secretName }}-cert
    {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}