{{- $dot := . -}}
{{- $globalEnabled := false -}}
{{- if hasKey .Values "global" -}}
{{- if hasKey .Values.global "ingress" -}}
{{- if .Values.global.ingress.enabled -}}
{{- $globalEnabled = .Values.global.ingress.enabled -}}
{{- end -}}
{{- end -}}
{{- end -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth-proxy-config
  labels:
    {{- include "keycloak.oauthProxy.labels" . | nindent 4 }}
data:
  namespace: {{ .Release.Namespace }}
  service: {{ include "keycloak.oauthProxy.fullname" . }}
  url: {{ if $globalEnabled -}}
          {{- if .Values.keycloak.oauthProxy.ingress.paths -}}
          "https://{{ .Values.global.domain }}{{ regexReplaceAll "\\(.*" (first .Values.keycloak.oauthProxy.ingress.paths).path "" }}"
          {{- else -}}
          ""
          {{- end -}}
       {{- else -}}
          {{- $firstHost := first .Values.keycloak.oauthProxy.ingress.hosts -}}
          {{- if and $firstHost $firstHost.paths -}}
          "https://{{ $firstHost.host }}{{ regexReplaceAll "\\(.*" (first $firstHost.paths).path "" }}"
          {{- else -}}
          ""
          {{- end -}}
       {{- end }}
  logoutUrl: {{ if $globalEnabled -}}
          {{- if and .Values.keycloak.oauthProxy.ingress.paths .Values.keycloak.ingress.paths -}}
          {{- $oauthProxyPath := regexReplaceAll "\\(.*" (first .Values.keycloak.oauthProxy.ingress.paths).path "" -}}
          {{- $keycloakPath := regexReplaceAll "\\(.*" (first .Values.keycloak.ingress.paths).path "" -}}
          {{- $postLogoutUri := printf "https://%s%s" .Values.global.domain $oauthProxyPath -}}
          {{- $logoutRedirect := printf "https://%s%s/realms/%s/protocol/openid-connect/logout?client_id=%s&post_logout_redirect_uri=%s" .Values.global.domain $keycloakPath .Values.global.configuration.keycloak.realm .Values.global.configuration.keycloak.clientId $postLogoutUri -}}
          "https://{{ .Values.global.domain }}{{ $oauthProxyPath }}/sign_out?rd={{ $logoutRedirect | urlquery }}"
          {{- else -}}
          ""
          {{- end -}}
      {{- else }}
          {{- $oauthProxyHost := first .Values.keycloak.oauthProxy.ingress.hosts -}}
          {{- $keycloakHost := first .Values.keycloak.ingress.hosts -}}
          {{- if and $oauthProxyHost $oauthProxyHost.paths $keycloakHost $keycloakHost.paths -}}
          {{- $oauthProxyPath := regexReplaceAll "\\(.*" (first $oauthProxyHost.paths).path "" -}}
          {{- $keycloakPath := regexReplaceAll "\\(.*" (first $keycloakHost.paths).path "" -}}
          {{- $postLogoutUri := printf "https://%s%s" $oauthProxyHost.host $oauthProxyPath -}}
          {{- $logoutRedirect := printf "https://%s%s/realms/%s/protocol/openid-connect/logout?client_id=%s&post_logout_redirect_uri=%s" .Values.global.domain $keycloakPath .Values.global.configuration.keycloak.realm .Values.global.configuration.keycloak.clientId $postLogoutUri -}}
          "https://{{ $oauthProxyHost.host }}{{ $oauthProxyPath }}/sign_out?rd={{ $logoutRedirect | urlquery }}"
          {{- else -}}
          ""
          {{- end -}}
      {{- end }}
