---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "oauth2-proxy.fullname" . | lower }}
  labels:
    {{- include "oauth2-proxy.labels" . | nindent 4 }}
type: Opaque
stringData:
    cookie-secret: {{ include "oauth2-proxy.cookieSecret" . }}