{{- if (eq .Values.rootDir.type "pvc") }}
{{- $scParts := include "filebrowser.storageConfig" . | splitList "|" }}
{{- $storageClass := index $scParts 0 }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.rootDir.pvc.name }}
  labels:
    {{- include "filebrowser.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
    {{- range .Values.rootDir.pvc.accessModes }}
    - {{ . | quote }}
    {{- end }}
  resources:
    requests:
      storage: {{ .Values.rootDir.pvc.size | quote }}
  {{- if $storageClass }}
  storageClassName: {{ $storageClass }}
  {{- end }}
{{- end }}