{{- $scParts := include "filebrowser.storageConfig" . | splitList "|" }}
{{- $storageClass := index $scParts 0 }}
{{- $createSC := index $scParts 1 }}
{{- if $createSC }}
{{- $existingSC := lookup "storage.k8s.io/v1" "StorageClass" "" $storageClass }}
{{- if not $existingSC }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ $storageClass }}
provisioner: file.csi.azure.com
allowVolumeExpansion: true
mountOptions:
- dir_mode=0777
- file_mode=0777
- mfsymlinks
- cache=strict
- actimeo=30
- uid=1001
- gid=1001
parameters:
  skuName: Standard_LRS
{{- end }}
{{- end }}
