{{- $publicKey := "" -}}
{{- $privateKey := "" -}}
{{- if (include "testValuesPath" (list .Values "global" "configuration" "gpg" "publicKey")) | eq "true" -}}
  {{- if ne .Values.global.configuration.gpg.publicKey "" -}}
    {{- $publicKey = .Values.global.configuration.gpg.publicKey -}}
  {{- end -}}
{{- end -}}
{{- if (include "testValuesPath" (list .Values "global" "configuration" "gpg" "privateKey")) | eq "true" -}}
  {{- if ne .Values.global.configuration.gpg.privateKey "" -}}
    {{- $privateKey = .Values.global.configuration.gpg.privateKey -}}
  {{- end -}}
{{- end -}}
{{- if and (ne $publicKey "") (ne $privateKey "") -}}
apiVersion: v1
kind: Secret
metadata:
  name: gpg-private-key
  labels:
    {{- include "gpg.labels" . | nindent 4 }}
stringData:
  privateKey: {{ $privateKey | quote }}
{{- end }}
