{{- $repo_base := "" -}}
{{- if ((include "testValuesPath" (list .Values "global" "image" "repo" "base")) | eq "true") -}}
  {{- $repo_base = .Values.global.image.repo.base | default (index .Values "sas-retrieval-agent-manager-api").image.repo.base -}}
{{- else -}}
  {{- $repo_base = (index .Values "sas-retrieval-agent-manager-api").image.repo.base -}}
{{- end -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sas-retrieval-agent-manager-api.fullname" . }}
  labels:
    {{- include "sas-retrieval-agent-manager-api.labels" . | nindent 4 }}
spec:
  {{- if not (index .Values "sas-retrieval-agent-manager-api").autoscaling.enabled }}
  replicas: {{ (index .Values "sas-retrieval-agent-manager-api").replicaCount }}
  {{- end }}
  {{- with (index .Values "sas-retrieval-agent-manager-api").strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sas-retrieval-agent-manager-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with (index .Values "sas-retrieval-agent-manager-api").podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "sas-retrieval-agent-manager-api.labels" . | nindent 8 }}
        {{- with (index .Values "sas-retrieval-agent-manager-api").podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with uniq (concat ((index .Values "sas-retrieval-agent-manager-api").imagePullSecrets | default (list)) (.Values.global.imagePullSecrets | default (list))) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sas-retrieval-agent-manager-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml (index .Values "sas-retrieval-agent-manager-api").podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml (index .Values "sas-retrieval-agent-manager-api").securityContext | nindent 12 }}
          image: "{{ $repo_base }}/{{ (index .Values "sas-retrieval-agent-manager-api").image.repo.path }}:{{ (index .Values "sas-retrieval-agent-manager-api").image.tag }}"
          imagePullPolicy: {{ (index .Values "sas-retrieval-agent-manager-api").image.pullPolicy }}
          env:
            {{- if $.Values.global.configuration.swagger.enabled }}
            - name: DOCS_ENABLED
              value: {{ $.Values.global.configuration.swagger.enabled | quote }}
            {{- end }}
            {{- with .Values.global.configuration.api.useOldLicense }}
            - name: USE_OLD_LICENSE
              value: {{ . | quote }}
            {{- end }}
            - name: KEYCLOAK_BASE_PATH
              valueFrom:
                configMapKeyRef:
                  key: basePath
                  name: keycloak-config
            - name: ENABLE_GENAI_TRACES
              value: {{ .Values.global.configuration.api.enable_genai_traces | quote }}
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://vector.vector.svc.cluster.local:4318"
            - name: KEYCLOAK_SECRET_PATH
              value: {{ .Values.global.configuration.keycloak.secret_path }}
            - name: LATEST_API_VERSION
              value: {{ .Values.global.configuration.api.latest_version | quote }}
            - name: RAM_LICENSE
              value: {{ .Values.global.configuration.api.license_secret_path }}
            - name: LICENSE_SECRET
              value: {{ .Values.global.configuration.api.license_secret }}
            - name: GPG_PRIVATE_KEY_PATH
              value: "{{ .Values.global.configuration.gpg.private_key_path }}/private.key"
            - name: GPG_PASSPHRASE_PATH
              value: "{{ .Values.global.configuration.gpg.passphrase_path }}/passphrase.txt"
            - name: ESP_VECTORHUB_TAG
              valueFrom:
                configMapKeyRef:
                  name: vhub-config
                  key: vhub_tag
            - name: ESP_VECTORHUB_REPOSITORY
              valueFrom:
                configMapKeyRef:
                  name: vhub-config
                  key: vhub_repository
            - name: PLUGIN_RUNNER_TAG
              valueFrom:
                configMapKeyRef:
                  name: plugin-config
                  key: plugin_runner_tag
            - name: PLUGIN_RUNNER_REPOSITORY
              valueFrom:
                configMapKeyRef:
                  name: plugin-config
                  key: plugin_runner_repo
            - name: EMB_INFERENCE_RUNNER_REPO
              valueFrom:
                configMapKeyRef:
                  name: embedding-config
                  key: emb_inference_runner_repo
            - name: EMB_INFERENCE_RUNNER_TAG_CPU
              valueFrom:
                configMapKeyRef:
                  name: embedding-config
                  key: emb_inference_runner_tag_cpu
            - name: EVAL_RUNNER_TAG
              valueFrom:
                configMapKeyRef:
                  name: eval-config
                  key: eval_runner_tag
            - name: EVAL_RUNNER_REPOSITORY
              valueFrom:
                configMapKeyRef:
                  name: eval-config
                  key: eval_runner_repo
            - name: IMAGE_PULL_SECRET
              valueFrom:
                configMapKeyRef:
                  name: vhub-config
                  key: vhub_pull_secret
            - name: SASRAM_PG_ADMIN_URL
              valueFrom:
                configMapKeyRef:
                  name: postgrest-configmap
                  key: adminInClusterUrl
            - name: SASRAM_PG_APP_URL
              valueFrom:
                configMapKeyRef:
                  name: postgrest-configmap
                  key: inClusterUrl
            - name: SASRAM_PG_MONITORING_URL
              valueFrom:
                configMapKeyRef:
                  name: postgrest-configmap
                  key: monitoringInClusterUrl
            - name: BASE_PATH
              valueFrom:
                configMapKeyRef:
                  name: api-config
                  key: base_path
            {{- if or .Values.global.configuration.vhub.postgreSQLCertSecret .Values.global.configuration.vhub.awsCertSecret }}
            - name: AWS_CERT_SECRET
              valueFrom:
                configMapKeyRef:
                  name: vhub-config
                  key: postgresql_cert_secret
            {{- end }}
            - name: SSL_VERIFY
              value: '{{ index .Values.global.configuration.api "sslVerify" }}'
            - name: LOG_LEVEL
              value: '{{ index .Values.global.configuration.api "log_level" | default "INFO" }}'
            - name: NUM_WORKERS
              value: '{{ index .Values.global.configuration.api "num_workers" }}'
            - name: ENABLE_PROFILING
              value: '{{ index .Values.global.configuration.api "enable_profiling" }}'
            - name: ENABLE_DEV_MODE
              value: '{{ index .Values.global.configuration.api "enable_dev_mode" }}'
            {{- with .Values.global.configuration.api.azure_settings.openAI.default_api_version }}
            - name: AZURE_OPENAI_DEFAULT_API_VERSION
              value: '{{ . }}'
            {{- end }}
            {{- if .Values.global.configuration.api.azure_settings.azure_identity.enabled }}
            {{- with .Values.global.configuration.api.azure_settings.azure_identity.scope }}
            - name: AZURE_IDENTITY_SCOPE
              value: '{{ . }}'
            {{- end }}
            {{- with .Values.global.configuration.api.azure_settings.azure_identity.enabled }}
            - name: AZURE_IDENTITY_ENABLED
              value: '{{ . }}'
            {{- end }}
            {{- with .Values.global.configuration.api.azure_settings.azure_identity.token_keyword }}
            - name: AZURE_IDENTITY_TOKEN_KEYWORD
              value: '{{ . }}'
            {{- end }}
            - name: EVAL_SERVICE_ACCOUNT_NAME
              value: {{ include "sas-retrieval-agent-manager-api.serviceAccountName" . }}
            {{- end }}
          ports:
            - name: http
              containerPort: 8765
              protocol: TCP
            - name: noauth-http
              containerPort: 8766
              protocol: TCP
          livenessProbe:
            {{- toYaml (index .Values "sas-retrieval-agent-manager-api").livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml (index .Values "sas-retrieval-agent-manager-api").readinessProbe | nindent 12 }}
          resources:
            {{- toYaml (index .Values "sas-retrieval-agent-manager-api").resources | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp
              name: temp-storage
            - name: config-volume
              mountPath: /mnt/config/available_hardware.json
              subPath: available_hardware
            - name: data
              mountPath: "/mnt/data"
              readOnly: false
            - name: embedding-models
              mountPath: "/mnt/embedding_models"
              readOnly: true
            - name: license-volume
              mountPath: {{ .Values.global.configuration.api.license_secret_path }}
              readOnly: true
            - name: keycloak-volume
              mountPath: {{ .Values.global.configuration.keycloak.secret_path }}
              readOnly: true
            - name: gpg-private-key-volume
              mountPath: {{ .Values.global.configuration.gpg.private_key_path }}
              readOnly: true
            - name: gpg-passphrase-volume
              mountPath: {{ .Values.global.configuration.gpg.passphrase_path }}
              readOnly: true
            - name: db-connection-volume
              mountPath: /mnt/config/db-connection
              readOnly: true
            - name: db-application-volume
              mountPath: /mnt/config/db-application
              readOnly: true
            - name: embedding-db-credentials-volume
              mountPath: /mnt/config/embedding-db-credentials
              readOnly: true
          {{- with (index .Values "sas-retrieval-agent-manager-api").volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: temp-storage
          emptyDir: {}
        - name: data
          persistentVolumeClaim:
            claimName: vhub-pv
        - name: embedding-models
          persistentVolumeClaim:
            claimName: embedding-pv
        - name: config-volume
          configMap:
            name: vhub-config
        - name: license-volume
          secret:
            secretName: license-secret
            items:
              - key: license.jwt
                path: license.jwt
        - name: keycloak-volume
          secret:
            secretName: keycloak-client-secret
            items:
              - key: realm
                path: realm.txt
              - key: url
                path: url.txt
              - key: sv-client-id
                path: client_id.txt
              - key: sv-client-secret
                path: client_secret.txt
        - name: gpg-private-key-volume
          secret:
            secretName: gpg-private-key
            items:
              - key: privateKey
                path: private.key
        - name: gpg-passphrase-volume
          secret:
            secretName: gpg-passphrase
            items:
              - key: passphrase
                path: passphrase.txt
        - name: db-connection-volume
          configMap:
            name: db-connection
        - name: db-application-volume
          configMap:
            name: db-application
        - name: embedding-db-credentials-volume
          secret:
            secretName: embedding-db-credentials
            items:
              - key: user
                path: user
              - key: password
                path: password
      {{- with (index .Values "sas-retrieval-agent-manager-api").volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index .Values "sas-retrieval-agent-manager-api").nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index .Values "sas-retrieval-agent-manager-api").affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index .Values "sas-retrieval-agent-manager-api").tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}