{{- $dot := . -}}
{{- $globalEnabled := false -}}
{{- if hasKey .Values "global" -}}
{{- if hasKey .Values.global "ingress" -}}
{{- if .Values.global.ingress.enabled -}}
{{- $globalEnabled = true -}}
{{- end -}}
{{- end -}}
{{- end -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth-proxy-config
  labels:
    {{- include "keycloak.oauthProxy.labels" . | nindent 4 }}
data:
  namespace: {{ .Release.Namespace }}
  service: {{ include "keycloak.oauthProxy.fullname" . }}
  url: {{ if $globalEnabled -}}
          "https://{{ .Values.global.domain }}{{ regexReplaceAll "\\(.*" (first .Values.oauthProxy.ingress.paths).path "" }}"
       {{- else -}}
          "https://{{ with (first .Values.oauthProxy.ingress.hosts) }}{{ .host }}{{ with (first .paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}{{ end }}"
       {{- end }}
  logoutUrl: {{ if $globalEnabled -}}
          "https://{{ .Values.global.domain }}{{ with (first .Values.oauthProxy.ingress.paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}/sign_out?rd=https%3A%2F%2F{{ .Values.global.domain }}{{ with (first .Values.ingress.paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}/realms/{{ .Values.global.configuration.keycloak.realm }}/protocol/openid-connect/logout%3Fclient_id={{ .Values.global.configuration.keycloak.clientId }}%26post_logout_redirect_uri=https%3A%2F%2F{{ .Values.global.domain }}{{ with (first .Values.ingress.paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}"
      {{- else }}
          "https://{{ with (first .Values.oauthProxy.ingress.hosts) }}{{ .host }}{{ with (first .paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}{{ end }}/sign_out?rd=https%3A%2F%2F{{ .Values.global.domain }}{{ with (first .Values.oauthProxy.ingress.hosts) }}{{ with (first .paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}{{ end }}/realms/{{ .Values.global.configuration.keycloak.realm }}/protocol/openid-connect/logout%3Fclient_id={{ .Values.global.configuration.keycloak.clientId }}%26post_logout_redirect_uri=https%3A%2F%2F{{ .Values.global.domain }}{{ with (first .Values.oauthProxy.ingress.hosts) }}{{ with (first .paths) }}{{ regexReplaceAll "\\(.*" .path "" }}{{ end }}{{ end }}"
      {{- end }}
